.container {
  width: fit-content;
  display: flex;
  z-index: 4;
  align-items: center;
  margin-bottom: 20vh;
  gap: 10px;
  position: absolute;
  top: 5%;
  right: 50%;
  .messageContainer {
    position: relative;
    transform: translateY(30%);
    background-color: white;
    padding: 10px 10px 10px 7px;
    border-radius: 10px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    p {
      margin: 0 !important;
      margin-right: 20px !important;
      font-family: sans-serif;
      font-size: 12px !important;
      max-width: 200px !important;
      text-align: start !important;
    }
    img {
      width: 15px;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }
  }
  .imageContainer {
    width: 70px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (max-width: 630px) {
  .messageContainer {
    font-size: 12px;
  }
}
