// .menuIconContainer {
//   .openMobNavContainer {
//     width: 100%;
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     background-color: rgb(0, 0, 0);
//     display: flex;
//     flex-direction: column;
//     transform: translateY(100%);
//     align-items: start;
//     transition: all 0.3s ease;
//     padding: 3%;
//     height: 0px !important;
//     overflow: hidden;
//     .dropDownContainer {
//       max-height: 0px !important;

//       overflow: hidden;
//       display: flex;
//       flex-direction: column;
//       justify-content: start !important;
//     }

//     .dropDownOpen {
//       max-height: 9999px;
//       transition: all 3s ease;
//     }
//     .dropDownClosed {
//       transition: all 1s ease;
//     }
//   }
//   .link {
//     margin: 15px 0;
//     text-decoration: none;
//     color: white;
//     transition: all 0.15s ease;
//     font-size: 1rem;
//     &:hover {
//       color: var(--green);
//     }
//   }
//   .dropDownLink {
//     color: #52368d;
//     margin: 12px 0;

//     text-decoration: none;
//     transition: all 0.15s ease;
//     &:hover {
//       color: var(--green);
//     }
//   }
// }
.menuIconContainer {
  width: fit-content;
  height: fit-content;
}
.openMobNavContainer {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  background-color: var(--dark);
  max-height: 9999px;
  transition: all 0.3s ease;
  transform: translateY(25%);
  visibility: visible;
  opacity: 1;
  z-index: 5;
  .link {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
  }
}

.closedMobNavContainer {
  transition: all 0.2s ease;
  max-height: 0;
  visibility: hidden;
  transform: translateY(50%);
  opacity: 0;
}
@media (min-width: 750px) {
  .menuIconContainer {
    display: none !important;
  }
}
