.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    font-size: 60px;
    margin: 10vh;
    width: fit-content;
    span {
      color: var(--green);
    }
  }
  .testmonialRow {
    height: 60vh;
    width: 100%;
    display: flex;
    position: relative;
    padding: 30px;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    .slider {
      display: flex;
      justify-content: center;
      width: 90%;
      min-height: 50vh;
    }
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 40px !important;
  }
  .slider {
    width: 100% !important;
  }
}
